# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folder
env/
venv/
env.bak/
ENV/

# Django stuff:
*.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
